body{
    background-image: url("image/tennis-bg.jpeg");
    background-size: 100%;
    margin: 0;
    padding: 0;
}

table{
    margin: auto;
    margin-top: 2rem;
    padding: 15px;
    border-style: solid;
    border-width: medium;
    border-color: rgb(117, 160, 253);
    background-color: rgb(22, 88, 187);
    box-shadow: 3px 3px 10px #49494977;
    border-radius: 10px;
    color: white;
}

td{
    padding: 10px;
}

#text{
    text-align: right;
}
h1{
    color: white;
    margin-top: 4rem;
    text-align: center;
}
#topic{
    color: white;
    margin-top: 4rem;
    text-align: center;
}

#warning{
    color: red;
    text-align: center;
    margin: auto;
}

#tHead{
    background-color: rgb(252, 252, 157);
    color: black;
    text-align: center;
}

#backtoHome{
    margin-top: 2rem;
}

#header{
    height: 50px;
    background-color: rgb(83, 169, 250);
    margin: 0;
    padding: 0;
}

#menu{
    float: right;
    width: 300px;
    padding: 15px;
    color: white;
}